{% extends "base.j2" %}

{% block title %} Home {% endblock %}

{% block content %}
	{% if session.user %}
		{% if challenge %}
			{% include 'components/challenge.j2' %}
		{% else %}
			<p>You have completed all the challenges!</p>
			<p>How about you submit your own?</p>
		{% endif %}
	{% else %}
		{% include 'components/challenge.j2' %}
	{% endif %}
	<h2>Uncompleted</h2>
	{% with challenges = uncompleted_challenges %}
		{% include 'components/challenges.j2' %}
	{% endwith %}
	<h2>Completed</h2>
	{% with challenges = completed_challenges %}
		{% include 'components/challenges.j2' %}
	{% endwith %}
	<h2>Latest Submissions</h2>
	{% with submissions = latest_submissions %}
		{% include 'components/submissions.j2' %}
	{% endwith %}
{% endblock %}